<div class="body">
    <div class="login">
        <img src="../../../assets/img/user.png" alt="user">
        <h1>login</h1>
        <mat-form-field class="ancho" appearance="fill">
            <mat-label>User</mat-label>
            <input matInput autocomplete="off">
        </mat-form-field>
        <mat-form-field class="ancho" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput autocomplete="off">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" class="ancho button" >LogIn</button>
    </div>
    
</div>

